[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
beautifulsoup4 = "*"
requests = "*"
selenium = "*"
pandas = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.7"

[scripts]
exe = "pyinstaller run.py --hidden-import=pandas --hidden-import=selenium --hidden-import=selenium.webdriver.chrome --hidden-import=requests"
